@import url(../bootstrap-3.3.7/css/bootstrap.min.css);

body {
    min-height: 2000px;
    padding-top: 70px;
    background-color: #666;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
}

#brand-image-icon {
    display: inline-block;
    width: 20px;
    margin-top: -8px;
    margin-right: 2px;
    /*border: 0.5px solid grey;*/
}

#headerNav {
    margin: 0;
    background-color: #722872 !important;
}

#headerNav a {
    background-color: #efefef !important;
    border-radius: 5px;
    margin: 5px 5px 5px 0;
}

#headerNavBar {
    max-width: 1024px;
    width: 95%;
}

#mainSections {
    max-width: 1024px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
}

#about {
    background-color: #aaa;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0;
    text-align: right;
    color: #fff;
}

#portfolio, #contact {
    padding-top: 40px;
    padding-bottom: 40px;
}

#portfolio {
    color: #888;
    background-color: #eee;
}

#contact {
    background-color: #aaa;
    color: #fff;
}

#portfolio h2, #contact h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}

#portfolio ul {
    list-style: none;
    padding: 0 5% 0 5%;
}

#portfolio li img {
    margin: 5px;
}

#contact div[class=row] {
    padding: 0 5% 0 5%;
    margin-top: 5%;
}

.hr-bright, .hr-dark {
    border-width: 3px;
    width: 90%;
}

.hr-dark {
    border-color: #888;
}

footer {
    color: #fff;
    background-color: #aaa;
    text-align: center;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
}

#footer2 {
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
    padding: 25px 0;
    background-color: #722872;
    text-align: center;
}

footer div[class=row] {
    padding-top: 2%;
    padding-bottom: 2%;
    width: 80%;
    margin: 0 auto;
}
footer ul {
    padding: 0;
}
footer li {
    list-style: none;
    display: inline-block;
    padding: 5px;
}

#socialButton .button {
    color: #fff;
    border: solid 2px #fff;
    border-radius: 50%;
    font-size: 20px;
    width: 50px !important;
    height: 50px !important;
    line-height: 48px;
}
