body {
    min-height: 2000px;
    padding-top: 70px;
    background-color: #666;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
}

#brand-image-icon {
    display: inline-block;
    width: 20px;
    margin-top: -8px;
    margin-right: 2px;
    /*border: 0.5px solid grey;*/
}

#headerNav {
    margin: 0;
}

#headerNavBar {
    max-width: 1024px;
    width: 95%;
}

#mainSections{
    max-width: 1024px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    background-color: #fff;
}

#about {
    background-color: #aaa;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0;
    text-align: right;
    color: #fff;
}

#portfolio, #contact {
    color: #888;
    background-color: #eee;
    padding-top: 40px;
}

#portfolio h2, #contact h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}

#portfolio ul {
    list-style: none;
    padding: 0 40px 0 40px;
}

#portfolio li img {
    margin: 5px;

}


.hr-bright, .hr-dark{
    border-width: 3px;
    width: 90%;
}

.hr-dark {
    border-color: #888;
}
